/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

.run-icon {
  color: purple
}

.stop-icon {
  color: red
}

.add-icon {
  color: green
}

.remove-icon {
  color: red
}
